body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .booksGrid {
    margin-top: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .title {
    font-weight: bold;
  }
  
  .book {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: beige;
    padding: 10px; /* Added padding for better spacing */
  }
  
  img {
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
    height: 200px; /* Increased the height of the images for better visibility */
  }
  
  .myList {
    list-style-type: none;
  }
  